* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text {
  position: absolute;
  top: 20%;
  left: 35%;
}
h1 {
  text-align: center;
  color: #ffffff !important;
  font-family: digital;
  text-shadow: 1px 1px 1px #6c6c6c;
  font-size: 70px !important;
}
p {
  color: #000 !important;
  font-family: motserrat;
  text-shadow: 1px 1px 0 #0dff00;
  font-size: 30px;
  text-align: center;
}
nav {
  font-family: digital;
  background: #000;
}
.navbar-brand {
  color: #2af020 !important;
}
.navbar-toggler {
  filter: invert(100%);
}
.nav-link {
  color: #ffffff !important;
}
.active {
  color: #2af020 !important;
}
@media screen and (max-width: 578px) {
  .text {
    width: 50vw;
    position: absolute;
    top: 22%;
    left: 35%;
  }
  h1 {
    text-align: center;
    color: #ffffff !important;
    font-family: digital;
    text-shadow: 1px 1px 1px #6c6c6c;
    font-size: 40px !important;
  }
  p {
    color: #000 !important;
    font-family: motserrat;
    text-shadow: 1px 1px 0 #0dff00;
    font-size: 18px;
    text-align: justify;
    text-wrap: wrap;
  }
}
